<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <style>
    td:nth-child(odd){
    background-color: #0E2841;
    color: white;
    width: 50%;
    text-align: center;
}
h1{font-family: "Cormorant Infant", serif;}

  </style>
<!-- 
<nav>
  <a href="/auth/sign-in">Sign In</a>
</nav> -->

<%- include('../partials/_navbar.ejs')%>


<!-- <h1 style="text-align: center;">N S H</h1>
<hr> -->

  <h1 style="text-align: center;">Welcome to NSH <br/>Purchase Requisition System</h1>
  <br/>
  <form action="/auth/sign-up" method="POST">
    <table style="margin-left: auto; margin-right: auto;">
      <tbody>
        <tr>
          <td><label for="username">Username:</label></td>
          <td><input type="text" name="username" id="username" required /></td>
        </tr>
        <tr>
          <td><label for="password">Password:</label></td>
          <td><input type="password" name="password" id="password" required /></td>
        </tr>
        <tr>
          <td><label for="confirmPassword">Confirm Password:</label></td>
          <td>    <input 
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            required 
          />
      </td>
        </tr>
        <tr>
          <td><label for="department">Department</label></td>
          <td> <select name="department" id="department">
            <option value="Purchase">Purchase</option>
            <option value="IT">IT</option>
            <option value="HR">HR</option>
            <option value="Finance">Finance</option>
        </select>
    </td>
        </tr>
        <tr>
          <td><label for="role">Role</label></td>
          <td>    <select name="role" id="role">
            <option value="employee">employee</option>
            <option value="manager">manager</option>
            <option value="purchaseStaff">purchaseStaff</option>
        </select>
    </td>
        </tr>
      </tbody>
    </table>
    <br/>
    <div class="center"><button type="submit" class="signBt">Sign up</button></div>
  </form>
</body>
</html>
