<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
  <style>
    td:nth-child(odd){
    background-color: #0E2841;
    color: white;
    width: 50%;
    text-align: center;
}
  </style>


  <%- include('../partials/_navbar.ejs')%>


  <h1 style="text-align: center;">Welcome to NSH <br/>Purchase Requisition System</h1>
  <br>
  <form action="/auth/sign-in" method="POST">
    <table style="margin-left: auto; margin-right: auto;">
      <tbody>
        <tr>
          <td><label for="username">Username</label></td>
          <td><input type="text" name="username" id="username" required /></td>
        </tr>
        <tr>
          <td><label for="password">Password</label></td>
          <td><input type="password" name="password" id="password" required /></td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="center">
      <button type="submit" class="signBt" >Sign in</button>
    </div>
  </form>
</body>


</html> 
