<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Purchase Requests</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>+ Track Purchase Requests </h1>

    <table>
        <tr>
            <td>#</td>
            <td>Item Title</td>
            <td>Item Description</td>
            <td>Item Quantity</td>
            <td>Approval Status</td>
            <td>Action</td>
        </tr>

        <tr>
            <% request.forEach((request)=>{ %>
            <td>1</td>
            <td><%= request.title %></td>
            <td><%= request.description %></td>
            <td><%= request.quantity %></td>
            <td>Approval Status</td>
            <td>Action</td>
            <% }) %>
        </tr>
    </table>
    
</body>
</html>