<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome to the app, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Welcome to the app, guest.</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
</body>
</html>
=======
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website index</title>
  </head>
  <body>
    <%- include("./partials/_navbar.ejs")%>

    <p style="text-align: center">Welcome to NSH 
      Purchase Requisition System</p>
    <% if(user){%>
    <h1><%=user.username%></h1>
    <%}%>
    <!-- <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a> -->
  </body>
</html>
>>>>>>> c5148b1536bb70ebca56ada7734a0b27e95c97fe
