




/* body */


body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333;
}



.contAll{
    display: flex;
    justify-content: space-around;
    align-items: center;


}



.fillters{

    width: 40em;
    height: 30em;
    display: grid;

    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    gap: 0.8em;



}


.filltersButtonPending{


    grid-row: 1 / 3;
    grid-column: 1 / 7;


}
.filltersButtonApprove{

    grid-row: 3/4;
    grid-column: 1/4;
}

.pendingButton{
    background-color: white; 
    color: black; 
    padding: 15px 20px; 
    margin: 5px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    font-size: 16px; 
    width: 41.1em;
    height: 150px;
    margin-top: 3em;
    border: solid black 2px;
    
 

}

.filltersButtonReject{
    grid-row: 3/4;
    grid-column: 4/7;
}

.filltersButtonApprovePurch{
    grid-row: 4/5;
    grid-column: 1/4;
}

.filltersButtonRejectPurch{
    grid-row: 4/5;
    grid-column: 4/7;
}

.trackAllButton {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px; 

    
}



.trackAllButton button {
    background-color: white; 
    color: black; 
    padding: 15px 20px; 
    border: solid black 2px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 20em;
    height: 3em;

}

#trackAllImg{
    height: 20em;
    width: 20em;


}





.filltersButton button {
    background-color: white; 
    color: black; 
    padding: 15px 20px; 
    margin: 5px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; 
    width: 20em;
    height: 5em;
    border: solid black 2px;
}






