<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Add a New request</title>
    <link rel="stylesheet" href="/styles/index.css">

  </head>
  <body>
    <style>
      td:nth-child(odd){
      background-color: #0E2841;
      color: white;
      width: 50%;
      text-align: center;
  }
    </style>


    <%- include('../partials/_navbar.ejs') %>
    <h1 style="text-align: center;">Add a New request</h1>

    <form action="/users/<%=user._id%>/applications" method="POST">

      <table style="margin-left: auto; margin-right: auto;">
        <tbody>
          <tr>
            <td><label for="title">Item Title: </label></td>
            <td><input type="text" name="title" id="title"></td>
          </tr>

          <tr>
            <td><label for="description">Item Description: </label></td>
            <td><input type="text" name="description" id="description" /></td>
          </tr>

          <tr>
            <td><label for="quantity">Item Quantity</label></td>
            <td><input name="quantity" id="quantity" /></td>
          </tr>

          <tr>
            <td><label for="deliverydate">Delivery Date: </label></td>
            <td><input type="date" name="deliverydate" id="deliverydate" /></td>
          </tr>

        

          <tr>
            <td><label for="priority">Priority:</label></td>
            <td>          <select id="priority" name="priority">
              <option value="high">high</option>
              <option value="medium">medium</option>
              <option value="low">low</option>
            </select>
          </td>
          </tr>

           <select hidden id="status" name="status">
              <option hidden value="Pending Manager">pending manager approval</option>
            </select>

        </tbody>
      </table>
<br>
      <div class="center">  
        <button type="submit" class="signBt">Add request</button>
      </div>

    </form>
  </body>
</html>
