h2{
    text-align: center;
    margin-top: 40px;
}

#table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: table;
    width: 1000px;
    text-align: center;
    table-layout: fixed;
}

#firstRow{
    font-size: 22px;
    color: white;
    background-color: blue;
}

#secondRow{
    font-size: 18px;
}